[MESSAGES CONTROL]
disable =
    import-error,  # run without install in tox
    bad-continuation,  # code style by black
    missing-module-docstring,
    missing-function-docstring,
    logging-fstring-interpolation,
    too-many-instance-attributes,

[FORMAT]
max-line-length = 100
good-names =
    logger,
    i, j, k, n, m,
    e,  # catch exceptions
    ip,
