[tool.black]
line-length = 100

[tool.isort]
line_length = 100
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true

[tool.pylint.message_control]
disable = """
    import-error,
    bad-continuation,
    missing-module-docstring,
    missing-function-docstring,
    logging-fstring-interpolation,
    too-many-instance-attributes,
    too-many-public-methods,
"""

[tool.pylint.format]
max-line-length = 100
good-names = """
    logger,
    i, j, k, n, m,
    e,
    ip,
    cw, sw,
"""

[tool.mypy]
ignore_missing_imports = true  # not supported yet

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"  # test summary for (a)ll except passed
testpaths = ["tests/unit"]
log_cli = true
log_cli_level = "WARNING"

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = black, isort, pylint, mypy, py36, py37, py38, py39, coverage-report

[testenv:black]
skip_install = true
deps = black
commands =
    black --diff src/
    black --check src/

[testenv:isort]
skip_install = true
deps = isort>5
commands =
    isort --diff src/
    isort --check-only src/

[testenv:pylint]
skip_install = true
deps = pylint
commands = pylint src/

[testenv:mypy]
skip_install = true
deps = mypy
commands = mypy --ignore-missing-imports src/

[testenv]
extras = tests
deps = toml
commands = 
    coverage run --parallel -m pytest

[testenv:coverage-report]
extras = tests
deps = toml
commands =
    coverage combine
    coverage report

[testenv:coveralls]
passenv = GITHUB_*
extras = tests
deps = coveralls
commands = 
    coverage run --parallel -m pytest
    coverage combine
    coveralls

[testenv:docs]
extras = docs
changedir = docs
whitelist_externals = make
commands =
    make linkcheck
    make dummy
"""

[tool.coverage.run]
branch = true
source = ["waveline"]

[tool.coverage.paths]
source = ["src", ".tox/*/site-packages"]
